---
---

{% include head.html %}

{% include header.html %}

<h1>Designér a stratég zaměřený na praktické využití informací a nápadů</h1>

<p>Pomáhám nastavit nebo proměnit způsob, jakým se prezentují organizace a značky. Většinou to znamená vytvoření komunikační strategie nebo webdesign.<p>
<p><a href="">Jak pracuji a pro koho →</a></p>

<h2>Strategie má dlouhodobou hodnotu</h2>
<p>Práce na značce nebo webu začíná od jasného záměru a souboru doporučení, vedoucích k lepším rozhodnutím. Výsledkem nemusí být pouze okamžitý finanční zisk, ale třeba lepší interní komunikace.</p>

<h3></h3>
<p></p>
<p><a href=""> →</a></p>

<h2>Jednoduše, stručně, krásně</h2>
<p>Při tvorbě webových stránek a digitálních služeb je na prvním místě použitelnost. Znamená to ale méně zajímavých a jedinečných řešení? Tuto otázku pomhám zodpovědět kreativním týmům, vedení organizací a firem.</p>

<h3> Web, který ukazuje a prodává písma</h3>
<p><a href=""> →</a></p>

<h2>Učení je předávání nadšení</h2>
<p>Moc bych si přál otevřenější prostředí a vzdělanější společnost. Základ internetu je kromě informací také entuziasmus a vzájemná inspirace. Hodně času proto věnuji sledování oblastí jako je role technologie ve společnosti, design, věda a kultura.</p>

<h3>Inspirační zdroje pro moje studenty</h3>
<p>Přednáším kurz o webdesignu a uživatelském rozhraní na Katedře multimédií při VŠE v Praze. </p>
<p><a href="">Sbírka knih a odkazů →</a></p>


—

<p>Strategy and creative consulting for design-led companies and projects.</p>

<p>Linking up ideas and knowledge into brands, websites & books.<a href="">Work with me →</a></p>

{% include footer.html %}
