---
---

{% include head.html %}

{% include header.html %}

<h1>Designér a stratég zaměřený na praktické využití informací a nápadů</h1>

<p>Pomáhám nastavit nebo proměnit způsob, jakým se prezentují organizace a značky. Většinou to zahrnuje branding, plánování komunikace nebo webdesign.<p>
<p><a href="">Jak pracuji a pro koho →</a></p>

<h2>Strategie má dlouhodobou hodnotu</h2>
<p>Práce na značce nebo webu začíná od jasného záměru a souboru doporučení, vedoucích k lepším rozhodnutím. Výsledek nemusí znamenat pouze okamžitý finanční zisk, ale třeba lepší interní komunikaci.</p>

<h3></h3>
<p></p>
<p><a href=""> →</a></p>

<h2>Jednoduše, stručně, krásně</h2>
<p>Při tvorbě webových stránek a digitálních služeb je na prvním místě použitelnost. Znamená to ale méně zajímavých a jedinečných řešení? Tuto otázku pomhám zodpovědět kreativním týmům, vedení organizací a firem.</p>

<h3></h3>
<p><a href=""> →</a></p>

<h2>Učení je předávání nadšení</h2>
<p>Moc bych si přál otevřenější prostředí a vzdělanější společnost. Snažím se sdílet svoje zkušenosti, nadšení a pohledy na obor při výuce na vysoké škole. Hodně času také věnuji sledování oblastí jako je role technologie ve společnosti, design, věda a kultura.</p>

<h3>Inspirační zdroje pro studenty</h3>
<p>Sestavil jsem výběr knih a odkazů pro kurz o webdesignu a uživatelském rozhraní na Katedře multimédií při VŠE v Praze.</p>
<p><a href="">Sbírka knih a odkazů →</a></p>



{% include footer.html %}
