---
---

{% include head.html %}

{% include header.html %}

<h1>Designér a stratég zaměřený na praktické využití informací a nápadů</h1>

<p>Pomáhám nastavit nebo proměnit způsob, jakým se prezentují organizace a značky. Většinou to znamená vytvoření komunikační strategie nebo webu.<p>
<p><a href="">Jak pracuji a pro koho →</a></p>

<h2>Strategie je dlouhodobá hodnota</h2>
<p>Práce na značce nebo webu by měla vždy mít jasný záměr. Vysledek nemusí znamenat jen finanční zisk, ale pomůže zlepšit interní komunikaci.</p>

<h3>Proměna mainstreamového ženského časopisu</h3>
<p> Snažím se vytvořit doporučení, díky kterým je možné lépe plánovat a vymýšlet kreativu.</p>
<p><a href=""> →</a></p>

<h3>Proměna mainstreamového ženského časopisu</h3>
<p>Snažím se, aby výsledek mojí práce pomohl najít potenciál a vytvořit doporučení, díky kterým je možné dělat lepší rozhodnutí.</p>
<p><a href=""> →</a></p>

<h2>Dostávat se k lidem</h2>
<p>Při tvorbě webových stránek a digitálních služeb získává stále větší pozornost použitelnost a srozumitelnost. Ale jak přijít s něčím, co bude zajímavé a přinese dopad? Pomáhám tuto otázku zodpovědět jednotlivcům, týmům a majitelům organizací a firem.</p>

<h3> Web, který ukazuje a prodává písma</h3>
<p><a href=""> →</a></p>

<h2>Chuť tvořit a sdílet</h2>
<p>Moc bych si přál vzdělanější, otevřenější prostředí a společnost. Proto hodně času věnuji sledování oblastí jako je technologie a její ve společnosti, věda, design a kultura obecně. </p>

<h3>Sbírka inspiračních zdrojů pro studenty</h3>
<p>Chuť vytvářet položila základ internetu a věřím, že vzdělávání je možnost tohle nadšení sdílet ostatním.</p>
<p><a href="">Sbírka užitečných zdrojů →</a></p>


—

<p>Strategy and creative consulting for design-led companies and projects.</p>

<p>Linking up ideas and knowledge into brands, websites & books.<a href="">Work with me →</a></p>

{% include footer.html %}
