  <footer id="footer">
      <div class="grid-container">
        <div class="row text-block">
          <div class="col-third-first">
            <p>
              <a href="/kontakt">KONTAKT</a>
            </p>
          </div>
          <div class="col-third-second">
            <p>
              <a href="https://linkedin.com/in/filipdedic">LINKEDIN</a>
            </p>
          </div>
          <div class="col-third-last">
            <p>
              <a href="/blog">BLOG</a>
            </p>
          </div>
        </div>
  </footer>

</body>

</html>
