  <hr>
  <footer id="footer">
      <div class="grid-container">
        <div class="row text-block">
          <div class="col-third-first">
            <p>
              mail@filipdedic.com<br>
              +420 732 835 515
            </p>
          </div>
          <div class="col-two-thirds-right">
            <p>
              <a href="/filip">Kdo jsem</a><br>
              <a href="/kontakt">Kontakt</a>
            </p>
          </div>
        </div>
  </footer>

  <script>
    $(document).ready(function(){

      function freshDot(){
        this.obj = document.createElement("div");
        this.obj.classList.add("box");
        this.obj.style.top = (window.innerHeight * Math.random()) + 'px';
        this.obj.style.left = (window.innerWidth *
      Math.random()) + 'px';
            this.size = Math.floor(13);
        this.obj.style.height =  this.size + 'vh';
        this.obj.style.width = this.size + 'vh';

        document.body.appendChild(this.obj);
      }
      var dot = [];
      for(var i = 0 ; i < 20; i++ ){
        dot.push(new freshDot());
      }
      /*
      $(window).resize(function(){
        for(i=0;i<200;i++){
          document.body.removeChild(dot[i]);
        }
      });
      */
    });
  </script>

</body>

</html>
