  <footer id="footer">
      <div class="grid-container">
        <div class="row text-block">
          <div class="col-third-first">
            <p>
              <a href="/kontakt">LinkedIn</a>
            </p>
          </div>
          <div class="col-third-second">
            <p>
              <a href="/kontakt">Blog</a>
            </p>
          </div>
          <div class="col-third-last">
            <p>
              <a href="/kontakt">Kontakt</a>
            </p>
          </div>
        </div>
  </footer>

</body>

</html>
