{% include head.html %}

{% include header.html %}


<div>

  <div>

      <h1>{{page.title}}</h1>

    {% if page.subtitle %}
    <h2>{{page.subtitle}}</h2>
      {% endif %}

    {% if page.date %}
    <div datetime="{{ page.date}}">{{ page.date | date: "%B %-d, %Y" }}</div>
      {% endif %}
  </div>


  <div>

    {{content}}

    <hr>

    <div>
      {% if page.previous.url %}
      <div>
        <span>⇜ PREVIOUS</span><br>
          <a href="{{page.previous.url}}">{{page.previous.title}}</a>
        </div>
      {% endif %}
      {% if page.next.url %}
      <div>
        <span>NEXT ⇝</span><br>
          <a href="{{page.next.url}}">{{page.next.title}}</a>
        </div>
      {% endif %}
    </div>

    <div>
      Lorem ipsum this blog is written by...
    </div>

  </div>
</div>



{% include footer.html %}
