<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
          <a href="{{ site.baseurl }}/feed.xml" title="RSS">RSS</a>
        </h3>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <a href="{{ site.baseurl }}/feed.xml" title="RSS">RSS</a>
      </footer>

  </body>
</html>
