---
layout: default
---

<h1>{{ site.posts.first.title }}</h1>
{{ site.posts.first.date | date: '%Y %m %d' }}
<hr>
{{ site.posts.first.content }}
<hr>
<a href="{{ site.posts.first.url }}">Link to this post</a>
<hr>
  {% assign postsByYearMonth = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
  {% for yearMonth in postsByYearMonth %}
    <h2>{{ yearMonth.name }}</h2>
      {% for post in yearMonth.items %}
      <time datetime="{{ post.date | date: '%m %d' }}" class="post-date">{{ post.date | date: '%m %d' }}</time> <a href="{{ post.url }}" class="lead noline">{{ post.title }}</a>
      {% endfor %}
  {% endfor %}
<hr>
