
{% include head.html %}

{% include header.html %}

<section class="content">
  <div id="wrapper">
    <div id="main">
      <div class="grid-container">
        <div class="row text-block">
            {{content}}
            {% if site.posts.first.categories contains "aside" %}
            
            {% else %}
            <h2>{{ site.posts.first.title }}</h2>
            {% endif %}
            {{ site.posts.first.date | date: '%d %B %Y' }}
            
            {{ site.posts.first.content }}
            
            <a href="{{ site.posts.first.url }}">Link to this post</a>
            
            <nav id="archive">
              {% assign postsByYearMonth = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
              {% for yearMonth in postsByYearMonth %}
                <h3>{{ yearMonth.name }}</h3>
                  {% for post in yearMonth.items %}
                  <p><a href="{{ post.url }}" class="lead">{{ post.title }}</a><br>
                  <time datetime="{{ post.date | date: '%d %B' }}" class="post-date small">{{ post.date | date: '%d %B' }}</time></p>
                  {% endfor %}
              {% endfor %}
            </nav>
            
        </div>
      </div>
    </div>
  </div>
</section>
{% include footer.html %}
