
{% include head.html %}

{% include header.html %}

<section class="content">
  <div id="wrapper">
    <div id="main">
      <div class="grid-container">
        <div class="row text-block">
          <div class="col-two-thirds-left">
            {{content}}
          </div>
          <div class="col-third-last">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ul class="date-list">
  {% for post in site.posts limit: 10 %}
  <li>
    <div class='post-date'>
      <time>{{ post.date | date: "%-d %b %Y" }}</time>
    </div>
    <div class="post-metadata">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </div>
  </li>
  {% endfor %}
</ul>

{% include footer.html %}
