
{% include head.html %}

{% include header.html %}

<section class="content">
  <div id="wrapper">
    <div id="main">
      <div class="grid-container">
        <div class="row text-block">
            {{content}}
            
            
            <!-- This loops through the paginated posts -->
            {% for post in paginator.posts %}
              <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
              <p class="author">
                <span class="date">{{ post.date }}</span>
              </p>
              <div class="content">
                {{ post.content }}
              </div>
            {% endfor %}
            
            <!-- Pagination links -->
            <div class="pagination">
              {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}" class="previous">
                  Previous
                </a>
              {% else %}
                <span class="previous">Previous</span>
              {% endif %}
              <span class="page_number ">
                Page: {{ paginator.page }} of {{ paginator.total_pages }}
              </span>
              {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="next">Next</a>
              {% else %}
                <span class="next ">Next</span>
              {% endif %}
            </div>
            
            <h1>{{ site.posts.first.title }}</h1>
            {{ site.posts.first.date | date: '%d %B %Y' }}
            <hr>
            {{ site.posts.first.content }}
            <hr>
            <a href="{{ site.posts.first.url }}">Link to this post</a>
            <hr>
            <nav id="archive">
              {% assign postsByYearMonth = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
              {% for yearMonth in postsByYearMonth %}
                <h2>{{ yearMonth.name }}</h2>
                  {% for post in yearMonth.items %}
                  <p><a href="{{ post.url }}" class="lead">{{ post.title }}</a><br>
                  <time datetime="{{ post.date | date: '%d %B' }}" class="post-date small">{{ post.date | date: '%d %B' }}</time></p>
                  {% endfor %}
              {% endfor %}
            </nav>
            <hr>
        </div>
      </div>
    </div>
  </div>
</section>
{% include footer.html %}
